body {
	border: solid 4px #000000;
	margin: 20px;
	padding: 20px;
	height:  1000px;
	width: 1000px;
}

.absolute_user {
	position: relative;
	left: 10px;
	top: 30px;
	width: 800px;
}
.absolute_password {
	position: absolute;
	left: 50px;
	top: 400px;
	width: 800px;
}
.absolute_position {
	position: absolute;
	left: 50px;
	top: 630px;
	width: 800px;
}
.absolute_submit {
	position: absolute;
	top: 900px;
	left: 700px;
}
#return {
	position: absolute;
	top: 900px;
	left100px;
}

/* エラーメッセージの文字のフォーマット */
.formError .formErrorContent {
	width: 120%;
	background: #ddebec;
	position:relative;
	left: 100px;
 	top: -60px;
	color: #0080ff;
	min-width: 100px;
	font-size: 17px;
	border: 2px solid #ddd;
	box-shadow: 0 0 6px #000;
	-moz-box-shadow: 0 0 6px #000;
	-webkit-box-shadow: 0 0 6px #000;
	-o-box-shadow: 0 0 6px #000;
	padding: 4px 10px 4px 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
}

#branch {
	width: 250px;
	height: 40px;
}

#position {
	wigth: 250px;
	height: 40px;
}

p.#return {
	style="text-align: left"
}

#name {
	width: 250px;
	height: 25px;
}

#loginId {
	width: 250px;
	height: 25px;
}

#password {
	width: 250px;
	height: 25px;
}
#password2 {
	width: 250px;
	height: 25px;
}

